/*顶部导航栏S*/
header .top {width: 100%;height: 36px;background: #333;}
.top .middle {width: 1090px;height: 100%;margin: 0 auto;}
.top .middle .left a {line-height: 36px;color: #ccc;float: left;}
.top .middle .mid {margin-left: 20px;float: left;background: url("../images/horn.gif") center left no-repeat;overflow: hidden;}
.top .middle .mid a {height: 100%;text-decoration: underline;padding-left: 20px;line-height: 36px;color: #b4a078;}
.top .middle .right {float: right;}
.top .middle .right li {line-height: 36px;float: left;}
.top .middle .right li a {padding: 0 10px;color: #ccc;border-right: 1px solid #666;}
.top .middle .right li a:hover {color: #fff;}
.top .middle .right li a span {width: 8px;height: 11px;background: url("../images/sprite.png");display: inline-block;vertical-align: center;}
/*顶部导航栏E*/

/*logo S*/
nav .logoPart {width: 100%;height: 154px;}
.logoPart .mid {width: 1090px;height: 100%;margin: 0 auto;position: relative;}
.logoPart .mid .logo {position: absolute;top: 50px;left: 455px;}
.logoPart .mid .logo span {width: 180px;height: 60px;background: url("../images/sprite.png") 0 -146px;display: inline-block;}
.logoPart .mid .search {float: right;position: relative;margin-top: 75px;margin-right: 5px;}
.logoPart .mid .search input {width: 252px;height: 22px;border: 0;line-height: 1.5em;border-bottom: 1px solid #999;color: #999;margin-right: 5px;left: 5px;}
.logoPart .mid .search s {width: 20px;height: 20px;background: url("../images/sprite.png") 0 -291px;display: inline-block;vertical-align: middle;cursor: pointer;}
.logoPart .mid .car {float: right;position: relative;margin-top: 75px;}
.logoPart .mid .car span {width: 23px;height: 23px;background: url("../images/sprite.png") 0 -113px;display: inline-block;vertical-align: middle;cursor: pointer;}
.logoPart .mid .car s {width: 19px;height: 19px;background: url("../images/sprite.png") 0 -51px;display: inline-block;position: relative;top: -8px;right: 9px;color: #fff;line-height: 19px;text-align: center;text-decoration: none;}
/*logo E*/

/*nav S*/
.nav .mid {width: 1090px;height: 40px;margin: 6px auto 10px;}
.nav .mid > ul > li {float: left;line-height: 30px;font-weight: 700;font-size: 14px;padding: 0 24px;position: relative;}
.nav .mid li a {padding-bottom: 6px;}
.nav .mid li a:hover {border-bottom: 3px solid #b4a078;color: #b4a078;}
.nav .mid li .current {border-bottom: 3px solid #b4a078;color: #b4a078;}
.nav .mid .separate {border-right: 1px solid #ccc;}
.nav .mid li i {width: 23px;height: 11px;background: url("../images/arrowTop.png") -2px -129px;display: none;position: absolute;top: 30px;left: 50%;margin-left: -12px;z-index: 20}
.nav .navData {position: absolute;top: 41px;left: -100px;z-index: 10;background-color: #fff;box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);box-sizing: border-box;padding: 0 10px;display: none;}
.nav .navData ul {float: left;margin: 10px 0 0 30px;}
.nav .navData ul li:first-child {width: 140px;font-size: 16px;border-bottom: 1px solid #aaa;}
.nav .navData ul li:last-child {margin-bottom: 10px;}
.nav .navData ul:last-child {margin-right: 30px;}
.nav .navData ul li img {width: 50px;height: 50px;vertical-align: middle;}
.nav .navData ul li span {margin-left: 6px;width: 84px;font-weight: 500;font-size: 14px;}
/*nav E*/

/*banner S*/
    /*轮播图图片 S*/
.banner .mid {width: 1920px;height: 420px;left: 50%;margin-left: -960px;position: relative;cursor: pointer;}
.banner .mid a {display: block;width: 1920px;height: 420px;position: absolute;}
#imgMid li {opacity: 0;}
#imgMid .current {background-color: #999;opacity: 1;}
#imgMid li img {display: block;position: absolute;left: 50%;margin-left: -960px;}
    /*轮播图图片 E*/
    /*轮播图左右箭头 S*/
.banner .outer {width: 1090px;height: 420px;margin: 0 auto;position: relative;}
@media only screen and (max-width: 1200px) {
    .banner .outer {display: none;}
    .banner {width: 1090px;overflow: hidden;}
    header .top {width: 1090px;}
    .recommend {width: 1090px;}
    .fixed .gif {display: none;}
}
.banner .arrowLA {position: absolute;top: 200px;left: -25px;}
.banner .arrowL {width: 30px;height: 30px;background: url("../images/sprite1.png") 0 -2326px;display: inline-block;}
.banner .arrowL:hover {width: 30px;height: 30px;background: url("../images/sprite1.png") 0 -2286px;display: inline-block;cursor: pointer;}
.banner .arrowRA {position: absolute;top: 200px;right: -25px;}
.banner .arrowR {width: 30px;height: 30px;background: url("../images/sprite1.png") 0 -4267px;display: inline-block;}
.banner .arrowR:hover {width: 30px;height: 30px;background: url("../images/sprite1.png") 0 -4227px;display: inline-block;cursor: pointer;}
    /*轮播图左右箭头 E*/
    /*轮播图导航点 S*/
.banner .b-index {display: block;width: 140px;position: absolute;left: 50%;bottom: 10px;margin-left: -70px;z-index: 10;}
.banner .b-index .current {background-color: #999;}
.banner .b-index li {width: 6px;height: 6px;border-radius: 50%;background-color: #fff;border: 2px solid #ccc;
    display: block;float: left;margin: 5px;cursor: pointer;}
    /*轮播图导航点 E*/
/*banner E*/

/*品牌制造商 S*/
    /*标题文字 S*/
.manufacturer {width: 1090px;margin: 30px auto;}
.manufacturer .text {padding-bottom: 20px;}
.manufacturer .text .textLeft a {font-size: 28px;font-weight: 700;}
.manufacturer .text .textLeft a:hover {color: #b4a078;}
.manufacturer .text .textLeft small {margin-left: 20px;padding-top: 16px;}
.manufacturer .text .textRight {display: block;float: right;margin-top: -1.5em;}
.manufacturer .text .textRight a:hover {color: #b4a078;}
    /*标题文字 E*/
    /*图片 S*/
.manufacturer .img {height: 320px;}
.manufacturer .img .outer1,
.manufacturer .img .outer2,
.manufacturer .img .outer3,
.manufacturer .img .outer4 {float: left;width: 358px;position: relative;}
.manufacturer .img .outer1 {height: 100%;margin-right: 8px;overflow: hidden;text-align: center;}
.manufacturer .img .outer2 {height: 100%;margin-right: 8px;overflow: hidden;text-align: center;}
.manufacturer .img .outer3 {height: 155px;overflow: hidden;}
.manufacturer .img .outer4 {height: 155px;margin-top: 10px;overflow: hidden;}
.manufacturer .img a {width: 100%;height: 100%;display: block;}
.manufacturer .img .img1,
.manufacturer .img .img2,
.manufacturer .img .img3,
.manufacturer .img .img4 {width: 358px;display: block;position: absolute;background-size: contain;transition: transform 1s;}
.manufacturer .img .img1 {height: 320px;background: url("../images/2/1.png") no-repeat center;z-index: -1;}
.manufacturer .img .img2 {height: 320px;background: url("../images/2/2.png") no-repeat center;z-index: -1;}
.manufacturer .img .img3 {height: 156px;background: url("../images/2/3.png") no-repeat center;z-index: -1;}
.manufacturer .img .img4 {height: 156px;background: url("../images/2/4.jpg") no-repeat center;z-index: -1;}
.manufacturer .img .title1,
.manufacturer .img .title2,
.manufacturer .img .title3,
.manufacturer .img .title4 {width: 100%;padding: 48px 0 19px 0;font-size: 24px;}
.manufacturer .img .price1,
.manufacturer .img .price2,
.manufacturer .img .price3,
.manufacturer .img .price4 {padding-top: 17px;border-top: 1px solid #333;display: inline-block;}
.manufacturer .img .title3 {font-size: 20px;padding: 32px 0 10px 20px;}
.manufacturer .img .price3 {padding-top: 10px;margin-left: 20px;}
.manufacturer .img .title4 {font-size: 20px;padding: 32px 0 10px 20px;}
.manufacturer .img .price4 {padding-top: 10px;margin-left: 20px;}
    /*图片 E*/
/*品牌制造商 E*/

/*人气推荐 S*/
    /*公用*/
.recommend {background-color: #f4f0ea;}
.recommend .middle {width: 1090px;margin: 0 auto;}
.recommend .img .title {display: inline-block;font-weight: 700;font-size: 14px;margin: 4px auto 3px;}
.recommend .img .title:hover {color: #b4a078;}
.recommend .img .label {color: #a7936e;border: 1px solid #b3a07d;display: inline-block;padding: 0 4px;border-radius: 5px;font-weight: 700;position: absolute;left: 10px;top: 10px;background-color: #fff;}
    /*标题文字 S*/
.recommend {width: 100%;height: 578px;padding: 60px 0;}
.recommend .text {padding-bottom: 20px;}
.recommend .text .textLeft a {font-size: 28px;font-weight: 700;}
.recommend .text .textLeft a:hover {color: #b4a078;}
.recommend .text .textLeft small {margin-left: 20px;padding-top: 16px;}
.recommend .text .textRight {display: block;float: right;margin-top: -1.5em;}
.recommend .text .textRight a:hover {color: #b4a078;}
    /*标题文字 E*/
    /*图片 S*/
.recommend .img .outer1 {width: 390px;height: 530px;background-color: #fff;margin-right: 10px;float: left;position: relative;text-align: center}
.recommend .img .outer2,
.recommend .img .outer3,
.recommend .img .outer4,
.recommend .img .outer5,
.recommend .img .outer6,
.recommend .img .outer7 {width: 223px;height: 260px;background-color: #fff;float: left;position:relative;text-align: center;}
.recommend .img .outer2,
.recommend .img .outer3,
.recommend .img .outer5,
.recommend .img .outer6 {margin-right: 10px;}
.recommend .img .outer5,
.recommend .img .outer6,
.recommend .img .outer7 {margin-top: 10px;}
        /*图片1*/
.recommend .img .img1 {width: 320px;height: 320px;display: block;background: url("../images/3/1.png") no-repeat center;z-index: -1;margin: 40px auto 0;padding-bottom: 35px;transition: transform 1s}
.recommend .img .detail1 {border-top: 1px solid #ccc;padding-top: 18px}
.recommend .img .detail1 .title {margin-bottom: 13px;}
.recommend .img .detail1 .tag1 {display: inline-block;margin: 0 auto 10px;background-color: #e36844;color: #fff;padding: 0 5px;}
.recommend .img .detail1 .price1-1 {color: #d4282d;}
.recommend .img .detail1 .price1-2 {color: #999;text-decoration: line-through;}
        /*图片共用*/
.recommend .img .img2,
.recommend .img .img3,
.recommend .img .img4,
.recommend .img .img5,
.recommend .img .img6,
.recommend .img .img7 {width: 180px;height: 180px;display: block;z-index: -1;margin: 0 auto;transition: transform 1s}
.recommend .img .img2 {background: url("../images/3/2.png") no-repeat center;}
.recommend .img .detail2 {border-top: 1px solid #ccc;padding-top: 8px}
.recommend .img .detail2 .tag2 {display: inline-block;background-color: #e36844;color: #fff;padding: 0 5px;}
.recommend .img .detail2 .price2-1 {color: #d4282d;}
.recommend .img .detail2 .price2-2 {color: #999;text-decoration: line-through;}
        /*各个小图*/
.recommend .img .img2 {background: url("../images/3/2.png") no-repeat center;}
.recommend .img .img3 {background: url("../images/3/3.png") no-repeat center;}
.recommend .img .img4 {background: url("../images/3/4.png") no-repeat center;}
.recommend .img .img5 {background: url("../images/3/5.png") no-repeat center;}
.recommend .img .img6 {background: url("../images/3/6.png") no-repeat center;}
.recommend .img .img7 {background: url("../images/3/7.png") no-repeat center;}

    /*图片 E*/
/*人气推荐 E*/

/*浮动窗口*/
.fixed {position: fixed;display: block;width: 72px;height: 382px;background-color: #ccc;right: 0;top: 153px;z-index: 100}
.fixed .gif {position: absolute;top: -153px;}
.fixed1, .fixed2, .fixed3, .fixed4, .fixed5 {width: 100%;height: 20%;}
.fixed1 {background-color: #fff;}
.fixed2 {background-color: #aaa;}
.fixed3 {background-color: #999;}
.fixed4 {background-color: #4b7788;}
.fixed5 {background-color: #48b1ce;}
.fixed1 a {display: block;width: 72px;height: 82px;text-align: center;padding-top: 14px;}
.fixed1 .img1 {display: inline-block;width: 28px;height: 29px;background: url("../images/fixed.png") 0 -297px;}
.fixed1 p {margin-top: 8px;font-size: 14px;line-height: 20px;}
.fixed5 a {display: block;width: 72px;height: 76px;text-align: center;padding-top: 18px;font-size: 16px;color: #fff;}

/*页面内容居中*/
.inner-mid {width: 1090px;margin: 0 auto;}
/*伪元素清除浮动*/
.clearFix:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.m-clearFix:before {content: "";display: table;}